body{
    background: #FAF4E1;
    color: #43310E;
     font-family: "PT Serif", serif;
     font-weight: 400;
      
}

section, header{
    width: 80%;
    max width: 900px;
    margin: auto; 
    margin-bottom: 5rem;
}

sectin, header {
    margin-bottom: 4rem;
}

header h1, h2, blockquote {
    font-family: "PT Serif", serif;
}

h1{
    font-size: 5.000rem;
    line-height: 1;
}

h2{
    font-size: 3.062rem ;
    line-height: 0;
}

p{ 
    line-height: 1.6;
}

h3{
    font-size: 2.438rem;
}
blockquote{padding: 1rem 0;
    font-size: 1.312rem;
    font-style: italic;
    hanging-punctuation: first;
    text-indent: -0.5rem;


}